
$background-main: #F4F7FF;
$primary: #3B6EF1;

$color-dark-700: #1A2D5E;
$color-dark-600: #2246A3;

$color-code: #54648F;

$color-light-600: #7FA3FF;
$color-light-700: #DFE8FF;

$shadow-soft: 0px 3px 5px rgba(0, 0, 0, 0.03), 0px 4px 34px rgba(0, 0, 0, 0.05);